@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../vendor/variables.css);

/* основной блок body */
.body {
  display: flex;
  flex-direction: column;
  gap: 42px;

  /* какие-то размеры, чтобы браузер мог отрисовывать от них */
  max-width: 1280px;
  margin: 3% auto;

  /* общие стили для содержимого */
  background: black;
  color: white;
  font-family: "Caveat", "Arial", sans-serif;
}

/* блок с игрой и поздравлением */
.game {
  /* для самого маленького разрешения */
  min-width: 320px;
  width: 100%;

  /* для центрирования окна с поздравлением */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Заголовок странички h1 */
.game__title {
  margin: 0;
  text-align: center;

  font-size: 70px;
  font-style: italic;
}

.game__window {
  /* размеры с учетом декоративных оступов по бокам */
  margin: 0 50px;
  height: 100%;
  width: calc(100% - 2 * 50px);

  /* используем гриды для построения сетки карточек */
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  /* делает сетку довольно адаптивной, но не позволяет центрировать строки, что было бы удобно в промежуточных значениях */
  grid-template-columns: repeat(auto-fit, minmax(120px, max-content));

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* т.к. перспектива задана блоку в котором много карточек, для центрального ряда она почти не работает, но для верхнего и нижнего - выглядит соответственно, если бы смотрели с центра */
  -webkit-perspective: 900;
  perspective: 900;
}

@media screen and (max-width: 350px) {
  .game__window {
    width: calc(100% - 2 * 25px);
    margin: 0 25px;
  }
}

.game__card {
  position: relative;
  padding: 10px;

  cursor: pointer;
  background: linear-gradient(white, rgb(169, 233, 238));
  aspect-ratio: 7/9;
  border-radius: 10px;
  /* transparent = прозрачный */
  border: 2px solid transparent;

  /* эффект трехмерности */
  /* cвойство говорит, что дочерние элементы могут быть в плоскости отлично от родительской */
  /* необходимо, чтобы срабатывал эффект backface-visibility */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.game__card.picked,
.game__card.matched {
  /* отвечает за показ обратной стороны */
  /* тип, как только карточка выбрана, повернуть ее, а с обратной стороны в силу свойства backface-visibility & transform (-180deg) другая карточка */
  transform: rotateY(180deg);
}

.game__card-front,
.game__card-back {
  /* обеспечивает невидимость обложки */
  /* без этого свойства rotate будет работать относительно как зеркало, а не реальный поворот */
  backface-visibility: hidden;
  display: block;
}

.game__card-front {
  object-fit: contain;
  width: calc(100% - var(--card-padding) * 2);
  height: calc(100% - var(--card-padding) * 2);

  position: absolute;
  top: var(--card-padding);
  left: var(--card-padding);
  right: var(--card-padding);
  bottom: var(--card-padding);

  /* необходимо, чтобы когда переворачивалась обложка, появялся не просто фон, а фон с обратной стороной карточки */
  /* тип карточка изначально перевернута на -180 относительно лицевой стороны */
  transform: rotateY(180deg);
}

.game__card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  object-fit: cover;
  width: 100%;
  height: 100%;

  border-radius: 10px;
  transform: rotateY(0deg);
}

/* блок поздравления и предложения сыграть */
.game__congratulations {
  /* цвета для контраста и размеры для отрисовки */
  background: white;
  max-width: 600px;
  max-height: 360px;

  /* отступы для внутренней геометрии */
  padding: 50px;

  /* выравнивание */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  /* скрыть окно до конца игры */
  display: none;

  /* закруглить окно */
  border-radius: 2%;
}

/* затемнение */
.game__congratulations::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

/* заголовок-текст поздравления */
.game__congratulations-title {
  margin: 0;
  font-size: 80px;
  text-align: center;
  color: #4d4d4d;
  text-shadow: 0 3px 2px black;
  letter-spacing: 2px;
}

/* кнопка рестарта */
.game__restart {
  margin: 0 auto;
  padding: 20px 30px;

  border: 3px solid #222;
  background: linear-gradient(#4d4d4d, #222);
  border-radius: 3px;
  cursor: pointer;

  color: white;
  font-size: 38px;
  -webkit-text-stroke: 0.1px black;
}

/* кнопка рестарта при наведении */
.game__restart:hover {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  color: black;
}
