@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

/* блок html */
.page {
  height: 100%;
}

/* основной блок body */
.body {
  /* центрируем содержимое */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 48px;

  /* какие-то размеры, чтобы браузер мог отрисовывать от них */
  height: 100vh;
  max-width: 1280px;
  min-height: 500px;
  margin: 50px auto;

  /* общие стили для содержимого */
  background: black;
  color: white;
  font-family: 'Caveat', 'Arial', sans-serif;
}

/* Заголовок странички h1 */
.title {
  margin: 0;
  font-size: 70px;
  font-style: italic;
}

/* блок поздравления и предложения сыграть */
.game__congratulations {
  /* цвета для контраста и размеры для отрисовки */
  background: white;
  max-width: 700px;
  min-width: 600px;
  min-height: 200px;

  /* выравнивание */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  /* скрыть окно до конца игры */
  visibility: hidden;

  /* закруглить окно */
  border-radius: 2%;
}

/* затемнение */
.game__congratulations::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  z-index: -1;
}

/* заголовок-текст поздравления */
.game__congratulations-title {
  margin: 30px 0 0;
  font-size: 80px;
  text-align: center;
  color: #4d4d4d;
  text-shadow: 0 3px 2px black;
  letter-spacing: 2px;
}


/* кнопка рестарта */
.game__restart {
  margin: 30px auto 60px;
  padding: 20px 30px;

  border: 1px solid #222;
  background: linear-gradient(#4d4d4d, #222);
  border-radius: 3px;
  cursor: pointer;

  color: white;
  font-size: 38px;
  -webkit-text-stroke: 0.1px black;
}

/* кнопка рестарта при наведении */
.game__restart:hover {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  color: black;
}


